@model JobBoard.UI.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}
<link href="~/Content/css/freelancer.min.css" rel="stylesheet">

<h2>@ViewBag.Title</h2>

<h4>Your message was sent.</h4>
<h4>I will respond as soon as I can to @Model.Email</h4>

