/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}
.submenu {
    background-color: white;
    border-color: black;
    border-width: 0.01em;
    border-style: solid;
    box-shadow: 5px 10px 18px #888888;
}
.submenu li a {
    color:black !important;

}
.submenu li a:hover
{
    font-weight: bold;
}